.main-div{
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  justify-items: center;
  margin:'auto';
}

.lane-div{
  background-color: #FF7300;
}

.lane-div input[type="text"]{
  background-color: #FF7300;
  border: none;
}

.btn{
  background-color: #FF7300;
  border-style: none;
  cursor: pointer;
}

.btn-add{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-size: 1.3rem;
}

.modal-diag{
  border-color: #FF7300;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
}

.modal-diag input{
  width: 100%;
  border-radius: 10px;
  border-style: solid;
  height: 2rem;
}

.spc-div{
  margin-block: 0.3rem;
  display: flex;
  justify-content: center;
}